In [1]:
import datetime as dt
import torch
import torch.nn as nn
import pandas as pd

## Insert example data to database
https://www.kaggle.com/datasets/dawidcegielski/house-prices-in-poland

In [5]:
housing = pd.read_csv('Houses.csv', encoding='latin1', index_col=0)
display(housing)

,address,city,floor,id,latitude,longitude,price,rooms,sq,year
0,Podgórze Zab³ocie Stanis³awa Klimeckiego,Kraków,2.0,23918.0,50.049224,19.970379,749000.0,3.0,74.05,2021.0
1,Praga-Po³udnie Grochowska,Warszawa,3.0,17828.0,52.249775,21.106886,240548.0,1.0,24.38,2021.0
2,Krowodrza Czarnowiejska,Kraków,2.0,22784.0,50.066964,19.920025,427000.0,2.0,37.00,1970.0
3,Grunwald,Poznañ,2.0,4315.0,52.404212,16.882542,1290000.0,5.0,166.00,1935.0
4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1.0,11770.0,52.212225,20.972630,996000.0,5.0,105.00,2020.0
...,...,...,...,...,...,...,...,...,...,...
23759,Stare Miasto Naramowice,Poznañ,0.0,3976.0,52.449649,16.949408,543000.0,4.0,77.00,2020.0
23760,W³ochy,Warszawa,4.0,10206.0,52.186109,20.948438,910000.0,3.0,71.00,2017.0
23761,Nowe Miasto Malta ul. Katowicka,Poznañ,0.0,4952.0,52.397345,16.961939,430695.0,3.0,50.67,2022.0
23762,Podgórze Duchackie Walerego S³awka,Kraków,6.0,24148.0,50.024231,19.959569,359000.0,2.0,38.86,2021.0
23763,Ursynów,Warszawa,2.0,10889.0,52.141039,21.032321,604800.0,3.0,63.00,1978.0

In [6]:
housing["region"] = housing["address"].map(lambda x: x.split(" ")[0])
housing["property_url"] = "https://www.kaggle.com/datasets/dawidcegielski/house-prices-in-poland/" + housing["id"].astype(str)
housing["price_per_square_meter"] = housing["price"] / housing["sq"]
housing.rename(columns={"sq": "area", "year": "year_built", "price": "total_price", "address": "title"}, inplace=True)
housing.drop(columns=["id"], inplace=True)
housing["date_added"] = dt.datetime(2021, 2, 1)
display(housing)

,title,city,floor,latitude,longitude,total_price,rooms,area,year_built,region,property_url,price_per_square_meter,date_added
0,Podgórze Zab³ocie Stanis³awa Klimeckiego,Kraków,2.0,50.049224,19.970379,749000.0,3.0,74.05,2021.0,Podgórze,https://www.kaggle.com/datasets/dawidcegielski...,10114.787306,2021-02-01
1,Praga-Po³udnie Grochowska,Warszawa,3.0,52.249775,21.106886,240548.0,1.0,24.38,2021.0,Praga-Po³udnie,https://www.kaggle.com/datasets/dawidcegielski...,9866.611977,2021-02-01
2,Krowodrza Czarnowiejska,Kraków,2.0,50.066964,19.920025,427000.0,2.0,37.00,1970.0,Krowodrza,https://www.kaggle.com/datasets/dawidcegielski...,11540.540541,2021-02-01
3,Grunwald,Poznañ,2.0,52.404212,16.882542,1290000.0,5.0,166.00,1935.0,Grunwald,https://www.kaggle.com/datasets/dawidcegielski...,7771.084337,2021-02-01
4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1.0,52.212225,20.972630,996000.0,5.0,105.00,2020.0,Ochota,https://www.kaggle.com/datasets/dawidcegielski...,9485.714286,2021-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23759,Stare Miasto Naramowice,Poznañ,0.0,52.449649,16.949408,543000.0,4.0,77.00,2020.0,Stare,https://www.kaggle.com/datasets/dawidcegielski...,7051.948052,2021-02-01
23760,W³ochy,Warszawa,4.0,52.186109,20.948438,910000.0,3.0,71.00,2017.0,W³ochy,https://www.kaggle.com/datasets/dawidcegielski...,12816.901408,2021-02-01
23761,Nowe Miasto Malta ul. Katowicka,Poznañ,0.0,52.397345,16.961939,430695.0,3.0,50.67,2022.0,Nowe,https://www.kaggle.com/datasets/dawidcegielski...,8500.000000,2021-02-01
23762,Podgórze Duchackie Walerego S³awka,Kraków,6.0,50.024231,19.959569,359000.0,2.0,38.86,2021.0,Podgórze,https://www.kaggle.com/datasets/dawidcegielski...,9238.291302,2021-02-01
23763,Ursynów,Warszawa,2.0,52.141039,21.032321,604800.0,3.0,63.00,1978.0,Ursynów,https://www.kaggle.com/datasets/dawidcegielski...,9600.000000,2021-02-01

In [8]:
housing.to_sql("property_info", "postgresql://postgres:postgres@localhost:5432/property_db", schema="property_store", if_exists="append", index=False)

764

## Train model

In [10]:
import os
import datetime as dt
from pathlib import Path
from model import CustomNet
from feast import FeatureStore
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader, TensorDataset

from train import train_net, get_accuracy, get_f1_score, get_confusion_matrix
from transform import get_dummies, normalize, remove_corr_features

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(f"Using device: {device}")

fs = FeatureStore(repo_path="feature_repo_local")
queries_path = Path(os.getcwd()) / "queries"

Using device: cuda

In [13]:
from utils import load_query

entity_sql = load_query(queries_path / "get_property_info.sql", start_date=dt.date(2021, 1, 1), end_date=dt.date(2021, 2, 2))
training_job = fs.get_historical_features(
    entity_sql, 
    features=[
        "property_info:city", 
        "property_info:region",
        "property_info:floor", 
        "property_info:area",
        "property_info:year_built",
        "property_info:rooms",
        "property_info:total_price",
    ]
)
training_df = training_job.to_df()
display(training_df)

WARNING:root:_list_feature_views will make breaking changes. Please use _list_batch_feature_views instead. _list_feature_views will behave like _list_all_feature_views in the future.
/home/bruno/projects/Property_pricing/model/.venv/lib/python3.10/site-packages/feast/infra/utils/postgres/connection_utils.py:116: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

,property_id,event_timestamp,city,region,floor,area,year_built,rooms,total_price
0,1,2024-09-01 22:01:06.548255,Kraków,Podgórze,2,74,2021,3,749000
1,2,2024-09-01 22:01:06.548255,Warszawa,Praga-Po³udnie,3,24,2021,1,240548
2,3,2024-09-01 22:01:06.548255,Kraków,Krowodrza,2,37,1970,2,427000
3,4,2024-09-01 22:01:06.548255,Poznañ,Grunwald,2,166,1935,5,1290000
4,5,2024-09-01 22:01:06.548255,Warszawa,Ochota,1,105,2020,5,996000
...,...,...,...,...,...,...,...,...,...
23759,23760,2024-09-01 22:01:06.548255,Poznañ,Stare,0,77,2020,4,543000
23760,23761,2024-09-01 22:01:06.548255,Warszawa,W³ochy,4,71,2017,3,910000
23761,23762,2024-09-01 22:01:06.548255,Poznañ,Nowe,0,51,2022,3,430695
23762,23763,2024-09-01 22:01:06.548255,Kraków,Podgórze,6,39,2021,2,359000
23763,23764,2024-09-01 22:01:06.548255,Warszawa,Ursynów,2,63,1978,3,604800

In [14]:
training_df = training_df.drop(columns=["event_timestamp", "property_id"])
training_df = get_dummies(training_df, ["city", "region"])
training_df = normalize(training_df, ["floor", "area", "year_built", "rooms"])
training_df = remove_corr_features(training_df, "total_price")
display(training_df)

,floor,area,year_built,rooms,total_price,city_Kraków,city_Poznañ,city_Warszawa,region_Bemowo,region_Bia³o³êka,...,region_Wola,region_Wzgórza,region_W³ochy,region_Zwierzyniec,region_mazowieckie,region_ma³opolskie,region_wielkopolskie,region_ródmiecie,region_£agiewniki-Borek,region_¯oliborz
0,-0.328295,-0.004400,0.423248,0.380549,749000,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0.077637,-0.012052,0.423248,-1.626414,240548,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,-0.328295,-0.010063,-0.632346,-0.622932,427000,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,-0.328295,0.009681,-1.356773,2.387513,1290000,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,-0.734227,0.000345,0.402550,2.387513,996000,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23759,-1.140159,-0.003941,0.402550,1.384031,543000,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23760,0.483569,-0.004859,0.340457,0.380549,910000,False,False,True,False,False,...,False,False,True,False,False,False,False,False,False,False
23761,-1.140159,-0.007920,0.443946,0.380549,430695,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23762,1.295433,-0.009757,0.423248,-0.622932,359000,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23763,-0.328295,-0.006083,-0.466762,0.380549,604800,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
train_df, test_df = train_test_split(training_df, test_size=0.2, random_state=42)
X_train = train_df.drop(columns=["total_price"])
y_train = train_df["total_price"]
train_loader = DataLoader(
    TensorDataset(
        torch.tensor(X_train.values, dtype=torch.float32).to(device),
        torch.tensor(y_train.values, dtype=torch.float32).to(device)
    ),
    batch_size=32,
    shuffle=True
)

test_df, val_df = train_test_split(test_df, test_size=0.5, random_state=42)
X_test = test_df.drop(columns=["total_price"])
y_test = test_df["total_price"]
X_val = val_df.drop(columns=["total_price"])
y_val = val_df["total_price"]
test_loader = DataLoader(
    TensorDataset(
        torch.tensor(X_test.values, dtype=torch.float32).to(device),
        torch.tensor(y_test.values, dtype=torch.float32).to(device)
    ),
    batch_size=32,
    shuffle=False
)
val_loader = DataLoader(
    TensorDataset(
        torch.tensor(X_val.values, dtype=torch.float32).to(device),
        torch.tensor(y_val.values, dtype=torch.float32).to(device)
    ),
    batch_size=32,
    shuffle=False
)

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint64, uint32, uint16, uint8, and bool.

In [ ]:
net = CustomNet(X_train.shape[1], 64, 3, 1).to(device)
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(net.parameters(), lr=0.001)

for train_loss, eval in train_net(net, train_loader, val_loader, optimizer, criterion, get_accuracy, epochs=10, device=device):
    print(f"Training loss: {train_loss:.4f}, Validation accuracy: {eval:.4f}")