In [1]:
import datetime as dt
import torch
import torch.nn as nn
import pandas as pd

## Insert example data to database
https://www.kaggle.com/datasets/dawidcegielski/house-prices-in-poland

In [5]:
housing = pd.read_csv('Houses.csv', encoding='latin1', index_col=0)
display(housing)

,address,city,floor,id,latitude,longitude,price,rooms,sq,year
0,Podgórze Zab³ocie Stanis³awa Klimeckiego,Kraków,2.0,23918.0,50.049224,19.970379,749000.0,3.0,74.05,2021.0
1,Praga-Po³udnie Grochowska,Warszawa,3.0,17828.0,52.249775,21.106886,240548.0,1.0,24.38,2021.0
2,Krowodrza Czarnowiejska,Kraków,2.0,22784.0,50.066964,19.920025,427000.0,2.0,37.00,1970.0
3,Grunwald,Poznañ,2.0,4315.0,52.404212,16.882542,1290000.0,5.0,166.00,1935.0
4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1.0,11770.0,52.212225,20.972630,996000.0,5.0,105.00,2020.0
...,...,...,...,...,...,...,...,...,...,...
23759,Stare Miasto Naramowice,Poznañ,0.0,3976.0,52.449649,16.949408,543000.0,4.0,77.00,2020.0
23760,W³ochy,Warszawa,4.0,10206.0,52.186109,20.948438,910000.0,3.0,71.00,2017.0
23761,Nowe Miasto Malta ul. Katowicka,Poznañ,0.0,4952.0,52.397345,16.961939,430695.0,3.0,50.67,2022.0
23762,Podgórze Duchackie Walerego S³awka,Kraków,6.0,24148.0,50.024231,19.959569,359000.0,2.0,38.86,2021.0
23763,Ursynów,Warszawa,2.0,10889.0,52.141039,21.032321,604800.0,3.0,63.00,1978.0

In [6]:
housing["region"] = housing["address"].map(lambda x: x.split(" ")[0])
housing["property_url"] = "https://www.kaggle.com/datasets/dawidcegielski/house-prices-in-poland/" + housing["id"].astype(str)
housing["price_per_square_meter"] = housing["price"] / housing["sq"]
housing.rename(columns={"sq": "area", "year": "year_built", "price": "total_price", "address": "title"}, inplace=True)
housing.drop(columns=["id"], inplace=True)
housing["date_added"] = dt.datetime(2021, 2, 1)
display(housing)

,title,city,floor,latitude,longitude,total_price,rooms,area,year_built,region,property_url,price_per_square_meter,date_added
0,Podgórze Zab³ocie Stanis³awa Klimeckiego,Kraków,2.0,50.049224,19.970379,749000.0,3.0,74.05,2021.0,Podgórze,https://www.kaggle.com/datasets/dawidcegielski...,10114.787306,2021-02-01
1,Praga-Po³udnie Grochowska,Warszawa,3.0,52.249775,21.106886,240548.0,1.0,24.38,2021.0,Praga-Po³udnie,https://www.kaggle.com/datasets/dawidcegielski...,9866.611977,2021-02-01
2,Krowodrza Czarnowiejska,Kraków,2.0,50.066964,19.920025,427000.0,2.0,37.00,1970.0,Krowodrza,https://www.kaggle.com/datasets/dawidcegielski...,11540.540541,2021-02-01
3,Grunwald,Poznañ,2.0,52.404212,16.882542,1290000.0,5.0,166.00,1935.0,Grunwald,https://www.kaggle.com/datasets/dawidcegielski...,7771.084337,2021-02-01
4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1.0,52.212225,20.972630,996000.0,5.0,105.00,2020.0,Ochota,https://www.kaggle.com/datasets/dawidcegielski...,9485.714286,2021-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23759,Stare Miasto Naramowice,Poznañ,0.0,52.449649,16.949408,543000.0,4.0,77.00,2020.0,Stare,https://www.kaggle.com/datasets/dawidcegielski...,7051.948052,2021-02-01
23760,W³ochy,Warszawa,4.0,52.186109,20.948438,910000.0,3.0,71.00,2017.0,W³ochy,https://www.kaggle.com/datasets/dawidcegielski...,12816.901408,2021-02-01
23761,Nowe Miasto Malta ul. Katowicka,Poznañ,0.0,52.397345,16.961939,430695.0,3.0,50.67,2022.0,Nowe,https://www.kaggle.com/datasets/dawidcegielski...,8500.000000,2021-02-01
23762,Podgórze Duchackie Walerego S³awka,Kraków,6.0,50.024231,19.959569,359000.0,2.0,38.86,2021.0,Podgórze,https://www.kaggle.com/datasets/dawidcegielski...,9238.291302,2021-02-01
23763,Ursynów,Warszawa,2.0,52.141039,21.032321,604800.0,3.0,63.00,1978.0,Ursynów,https://www.kaggle.com/datasets/dawidcegielski...,9600.000000,2021-02-01

In [8]:
housing.to_sql("property_info", "postgresql://postgres:postgres@localhost:5432/property_db", schema="property_store", if_exists="append", index=False)

764

## Train model

In [2]:
import os
import datetime as dt
from pathlib import Path
from model import CustomNet
from feast import FeatureStore
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader, TensorDataset

from train import train_net, get_mae
from transform import get_ohe_encoding, normalize

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(f"Using device: {device}")

fs = FeatureStore(repo_path="feature_repo_local")
queries_path = Path(os.getcwd()) / "queries"

Using device: cuda

In [3]:
from utils import load_query, load_config

config = load_config("cfgs/base_model.json")
entity_sql = load_query(queries_path / config["query_path"], **config["query_params"])
training_job = fs.get_historical_features(
    entity_sql, 
    features=config["model_metadata"]["features"],
)
training_df = training_job.to_df()
display(training_df)

WARNING:root:_list_feature_views will make breaking changes. Please use _list_batch_feature_views instead. _list_feature_views will behave like _list_all_feature_views in the future.
/home/bruno/projects/Property_pricing/model/.venv/lib/python3.10/site-packages/feast/infra/utils/postgres/connection_utils.py:116: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

,property_id,event_timestamp,city,region,floor,area,year_built,rooms,total_price
0,1,2024-09-01 22:01:06.548255,Kraków,Podgórze,2,74,2021,3,749000
1,2,2024-09-01 22:01:06.548255,Warszawa,Praga-Po³udnie,3,24,2021,1,240548
2,3,2024-09-01 22:01:06.548255,Kraków,Krowodrza,2,37,1970,2,427000
3,4,2024-09-01 22:01:06.548255,Poznañ,Grunwald,2,166,1935,5,1290000
4,5,2024-09-01 22:01:06.548255,Warszawa,Ochota,1,105,2020,5,996000
...,...,...,...,...,...,...,...,...,...
23759,23760,2024-09-01 22:01:06.548255,Poznañ,Stare,0,77,2020,4,543000
23760,23761,2024-09-01 22:01:06.548255,Warszawa,W³ochy,4,71,2017,3,910000
23761,23762,2024-09-01 22:01:06.548255,Poznañ,Nowe,0,51,2022,3,430695
23762,23763,2024-09-01 22:01:06.548255,Kraków,Podgórze,6,39,2021,2,359000
23763,23764,2024-09-01 22:01:06.548255,Warszawa,Ursynów,2,63,1978,3,604800

In [4]:
training_df = training_df.drop(columns=["event_timestamp", "property_id"])
training_df, encoder = get_ohe_encoding(training_df, config["model_metadata"]["ohe_features"])
training_df, scaler = normalize(training_df, config["model_metadata"]["numerical_features"])
training_df = training_df.astype("float32")
display(training_df)

,total_price,city_Kraków,city_Poznañ,city_Warszawa,region_Bemowo,region_Bia³o³êka,region_Bielany,region_Bie¿anów-Prokocim,region_Bieñczyce,region_Bronowice,...,region_mazowieckie,region_ma³opolskie,region_wielkopolskie,region_ródmiecie,region_£agiewniki-Borek,region_¯oliborz,floor,area,year_built,rooms
0,749000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.328302,-0.004400,0.423257,0.380557
1,240548.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.077638,-0.012053,0.423257,-1.626448
2,427000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.328302,-0.010063,-0.632359,-0.622945
3,1290000.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.328302,0.009681,-1.356802,2.387563
4,996000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.734243,0.000345,0.402559,2.387563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23759,543000.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.140183,-0.003941,0.402559,1.384060
23760,910000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.483579,-0.004859,0.340464,0.380557
23761,430695.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.140183,-0.007920,0.443956,0.380557
23762,359000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.295460,-0.009757,0.423257,-0.622945
23763,604800.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.328302,-0.006084,-0.466772,0.380557

In [5]:
train_df, test_df = train_test_split(training_df, test_size=0.2, random_state=42)
X_train = train_df.drop(columns=config["model_metadata"]["target"])
y_train = train_df[config["model_metadata"]["target"]]
train_loader = DataLoader(
    TensorDataset(
        torch.from_numpy(X_train.values).float().to(device),
        torch.from_numpy(y_train.values).float().to(device),
    ),
    batch_size=32,
    shuffle=True
)

test_df, val_df = train_test_split(test_df, test_size=0.5, random_state=42)
X_test = test_df.drop(columns=config["model_metadata"]["target"])
y_test = test_df[config["model_metadata"]["target"]]
X_val = val_df.drop(columns=config["model_metadata"]["target"])
y_val = val_df[config["model_metadata"]["target"]]
test_loader = DataLoader(
    TensorDataset(
        torch.from_numpy(X_test.values).float().to(device),
        torch.from_numpy(y_test.values).float().to(device),
    ),
    batch_size=32,
    shuffle=False
)
val_loader = DataLoader(
    TensorDataset(
        torch.from_numpy(X_val.values).float().to(device),
        torch.from_numpy(y_val.values).float().to(device),
    ),
    batch_size=32,
    shuffle=False
)

In [6]:
net = CustomNet(X_train.shape[1], 64, 3, 1).to(device)
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(net.parameters(), lr=0.001)

for i, (train_loss, eval) in enumerate(train_net(net, train_loader, val_loader, optimizer, criterion, get_mae, epochs=100, device=device, verbose=False)):
    if i % 10 == 0:
        print(f"Epoch: {i+1}, Training loss: {train_loss:.4f}, Validation MAE: {eval:.4f}")

/home/bruno/projects/Property_pricing/model/.venv/lib/python3.10/site-packages/torch/nn/modules/loss.py:538: UserWarning: Using a target size (torch.Size([32])) that is different to the input size (torch.Size([32, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)
/home/bruno/projects/Property_pricing/model/.venv/lib/python3.10/site-packages/torch/nn/modules/loss.py:538: UserWarning: Using a target size (torch.Size([3])) that is different to the input size (torch.Size([3, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

Training loss: 715420091056.4033, Validation MAE: 642461056.4267
Training loss: 357494503100.4504, Validation MAE: 267449822.0267
Training loss: 295672568341.5126, Validation MAE: 271238408.1600
Training loss: 295097049390.8975, Validation MAE: 267684268.6400
Training loss: 294513841941.9429, Validation MAE: 263826399.9467
Training loss: 294232259413.6202, Validation MAE: 265692519.2533
Training loss: 293941997110.2118, Validation MAE: 263572962.1067
Training loss: 293525740356.4101, Validation MAE: 266897938.7733
Training loss: 293394362250.9714, Validation MAE: 269507441.2800
Training loss: 293351009584.6185, Validation MAE: 268103737.2267

In [48]:
X, y = next(iter(test_loader))
y_pred = net(X)
print(f"Predicted: {y_pred[0].item()}, Actual: {y[0].item()}")

Predicted: 664449.4375, Actual: 850000.0

In [49]:
from utils import save_model
save_model