In [1]:
import datetime as dt
import torch
import torch.nn as nn
import pandas as pd

## Insert example data to database
https://www.kaggle.com/datasets/dawidcegielski/house-prices-in-poland

In [5]:
housing = pd.read_csv('Houses.csv', encoding='latin1', index_col=0)
display(housing)

,address,city,floor,id,latitude,longitude,price,rooms,sq,year
0,Podgórze Zab³ocie Stanis³awa Klimeckiego,Kraków,2.0,23918.0,50.049224,19.970379,749000.0,3.0,74.05,2021.0
1,Praga-Po³udnie Grochowska,Warszawa,3.0,17828.0,52.249775,21.106886,240548.0,1.0,24.38,2021.0
2,Krowodrza Czarnowiejska,Kraków,2.0,22784.0,50.066964,19.920025,427000.0,2.0,37.00,1970.0
3,Grunwald,Poznañ,2.0,4315.0,52.404212,16.882542,1290000.0,5.0,166.00,1935.0
4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1.0,11770.0,52.212225,20.972630,996000.0,5.0,105.00,2020.0
...,...,...,...,...,...,...,...,...,...,...
23759,Stare Miasto Naramowice,Poznañ,0.0,3976.0,52.449649,16.949408,543000.0,4.0,77.00,2020.0
23760,W³ochy,Warszawa,4.0,10206.0,52.186109,20.948438,910000.0,3.0,71.00,2017.0
23761,Nowe Miasto Malta ul. Katowicka,Poznañ,0.0,4952.0,52.397345,16.961939,430695.0,3.0,50.67,2022.0
23762,Podgórze Duchackie Walerego S³awka,Kraków,6.0,24148.0,50.024231,19.959569,359000.0,2.0,38.86,2021.0
23763,Ursynów,Warszawa,2.0,10889.0,52.141039,21.032321,604800.0,3.0,63.00,1978.0

In [6]:
housing["region"] = housing["address"].map(lambda x: x.split(" ")[0])
housing["property_url"] = "https://www.kaggle.com/datasets/dawidcegielski/house-prices-in-poland/" + housing["id"].astype(str)
housing["price_per_square_meter"] = housing["price"] / housing["sq"]
housing.rename(columns={"sq": "area", "year": "year_built", "price": "total_price", "address": "title"}, inplace=True)
housing.drop(columns=["id"], inplace=True)
housing["date_added"] = dt.datetime(2021, 2, 1)
display(housing)

,title,city,floor,latitude,longitude,total_price,rooms,area,year_built,region,property_url,price_per_square_meter,date_added
0,Podgórze Zab³ocie Stanis³awa Klimeckiego,Kraków,2.0,50.049224,19.970379,749000.0,3.0,74.05,2021.0,Podgórze,https://www.kaggle.com/datasets/dawidcegielski...,10114.787306,2021-02-01
1,Praga-Po³udnie Grochowska,Warszawa,3.0,52.249775,21.106886,240548.0,1.0,24.38,2021.0,Praga-Po³udnie,https://www.kaggle.com/datasets/dawidcegielski...,9866.611977,2021-02-01
2,Krowodrza Czarnowiejska,Kraków,2.0,50.066964,19.920025,427000.0,2.0,37.00,1970.0,Krowodrza,https://www.kaggle.com/datasets/dawidcegielski...,11540.540541,2021-02-01
3,Grunwald,Poznañ,2.0,52.404212,16.882542,1290000.0,5.0,166.00,1935.0,Grunwald,https://www.kaggle.com/datasets/dawidcegielski...,7771.084337,2021-02-01
4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1.0,52.212225,20.972630,996000.0,5.0,105.00,2020.0,Ochota,https://www.kaggle.com/datasets/dawidcegielski...,9485.714286,2021-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23759,Stare Miasto Naramowice,Poznañ,0.0,52.449649,16.949408,543000.0,4.0,77.00,2020.0,Stare,https://www.kaggle.com/datasets/dawidcegielski...,7051.948052,2021-02-01
23760,W³ochy,Warszawa,4.0,52.186109,20.948438,910000.0,3.0,71.00,2017.0,W³ochy,https://www.kaggle.com/datasets/dawidcegielski...,12816.901408,2021-02-01
23761,Nowe Miasto Malta ul. Katowicka,Poznañ,0.0,52.397345,16.961939,430695.0,3.0,50.67,2022.0,Nowe,https://www.kaggle.com/datasets/dawidcegielski...,8500.000000,2021-02-01
23762,Podgórze Duchackie Walerego S³awka,Kraków,6.0,50.024231,19.959569,359000.0,2.0,38.86,2021.0,Podgórze,https://www.kaggle.com/datasets/dawidcegielski...,9238.291302,2021-02-01
23763,Ursynów,Warszawa,2.0,52.141039,21.032321,604800.0,3.0,63.00,1978.0,Ursynów,https://www.kaggle.com/datasets/dawidcegielski...,9600.000000,2021-02-01

In [8]:
housing.to_sql("property_info", "postgresql://postgres:postgres@localhost:5432/property_db", schema="property_store", if_exists="append", index=False)

764

## Train model

In [2]:
import os
import datetime as dt
from pathlib import Path
from model import CustomNet
from feast import FeatureStore

fs = FeatureStore(repo_path="feature_repo_local")
queries_path = Path(os.getcwd()) / "queries"

In [3]:
from utils import load_query

entity_sql = load_query(queries_path / "get_property_info.sql", start_date=dt.date(2021, 1, 1), end_date=dt.date(2021, 2, 2))
training_job = fs.get_historical_features(
    entity_sql, 
    features=[
        "property_info:city", 
        "property_info:region",
        "property_info:floor", 
        "property_info:area",
        "property_info:year_built",
        "property_info:rooms",
        "property_info:total_price",
    ]
)
training_df = training_job.to_df()
display(training_df)

WARNING:root:_list_feature_views will make breaking changes. Please use _list_batch_feature_views instead. _list_feature_views will behave like _list_all_feature_views in the future.
/home/bruno/projects/Property_pricing/model/.venv/lib/python3.10/site-packages/feast/infra/utils/postgres/connection_utils.py:116: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

,property_id,event_timestamp,city,region,floor,area,year_built,rooms,total_price
0,1,2024-09-01 22:01:06.548255,Kraków,Podgórze,2,74,2021,3,749000
1,2,2024-09-01 22:01:06.548255,Warszawa,Praga-Po³udnie,3,24,2021,1,240548
2,3,2024-09-01 22:01:06.548255,Kraków,Krowodrza,2,37,1970,2,427000
3,4,2024-09-01 22:01:06.548255,Poznañ,Grunwald,2,166,1935,5,1290000
4,5,2024-09-01 22:01:06.548255,Warszawa,Ochota,1,105,2020,5,996000
...,...,...,...,...,...,...,...,...,...
23759,23760,2024-09-01 22:01:06.548255,Poznañ,Stare,0,77,2020,4,543000
23760,23761,2024-09-01 22:01:06.548255,Warszawa,W³ochy,4,71,2017,3,910000
23761,23762,2024-09-01 22:01:06.548255,Poznañ,Nowe,0,51,2022,3,430695
23762,23763,2024-09-01 22:01:06.548255,Kraków,Podgórze,6,39,2021,2,359000
23763,23764,2024-09-01 22:01:06.548255,Warszawa,Ursynów,2,63,1978,3,604800